.w3-bar .w3-button {
    padding: 16px;
}


/*my css*/
body,h1,h2,h3,h4,h5,h6 {
    font-family: monospace;
    text-decoration: none;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.headerpicture {
    width: 100%;
    height: auto;
}

.centerbtn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #d70000;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.centerbtn:hover {
    border: 2px solid #ffffff;
    font-size: 18px;
}

.mynav {
    margin-top: 5px;
    font-family: monospace;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.mynav:hover {
    background-color: #d70000;
    color: #fff;
}

.centertext {
    text-align: center;
}

.aboutsubtitle {
    font-size: 19px;
    font-family: sans-serif;
}
.text {
    font-family: monospace;
    text-decoration: none;
}

.pic {
    height: auto;
    width: 30%;
    margin-right: 5px;
    margin-top: 5px;
}

.signupbtn {
    background-color: #d70000;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.signupbtn:hover {
    border: 2px solid #000;
    font-size: 18px;
}

.procolor {
    background-color: #d70000;
    color: #ffffff;
}

.credits {
    font-size: 10px;
    color: #d70000;
}

.decnone {
    text-decoration: none;
}

.specialtext {
    padding-top: 10px;
    padding-right: 15px;
    text-decoration: none;
}

.bottom {
    float: bottom;
}

.regdiv {
    margin-bottom: 20px;
}

.input {
    width: 800px;
}
.logincont {
    width: 600px;
}

.regbut {
    padding: 1px 10px;
}

.errortext {
    color: #d70000;
    font-size: 20px;
}